/* Reset default margin and padding */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and font family */
body {
    background: #f4f4f4; /* Light gray background */
    font-family: "Arial", sans-serif;
    color: #333; /* Dark gray text color */
}

/* Center-align the content */
main {
    max-width: 800px; /* Wider content area for readability */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White content background */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Slight box shadow for depth */
    border-radius: 15px;
}

/* Style header */
header {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px; /* Increase logo size */
    height: auto;
}

/* Style headings */
h1 {
    text-align: center;
    color: #333; /* Dark gray text color */
    font-size: 36px; /* Larger font size for the main heading */
    margin-bottom: 20px;
}

/* Style table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc; /* Light gray border */
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Style links to AWS data */
.view-aws-data {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background: linear-gradient(to bottom, #0096c7, #0077a2); /* Gradient button background in blue tones */
    color: #FFFFFF; /* White button text color */
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s; /* Smooth hover effect with scaling */
}

.view-aws-data:hover {
    background: linear-gradient(to bottom, #0077a2, #00597d); /* Gradient change on hover */
    transform: scale(1.03); /* Slight scale-up effect */
}
