{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSCloud - File Upload and View</title>
    <link rel="stylesheet" type="text/css" href="{% static 'FSCloud/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'FSCloud/fetherstill-logo.png' %}" alt="FSCloud Logo">
        </div>
        <div class="logout-button">
            <a href="{% url 'login' %}" class="btn">Logout</a>
        </div>
    </header>
    <main>
        <h1>Upload and View CSV Files</h1>
        <form method="post" action="{% url 'index' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload">
                <label for="csv-file">Upload CSV File:</label>
                <input type="file" name="file" id="csv-file" accept=".csv">
                <button type="submit" id="upload-button">Upload</button>
            </div>
        </form>
        <!-- Display the uploaded data here -->
        <div id="uploaded-data">
            {% if uploaded_data %}
                <p>{{ uploaded_data }}</p>
            {% endif %}
        </div>
        <a href="{% url 'list_data' %}" class="btn">View Uploaded Data</a>
    </main>
</body>
</html>